{% extends "base.html" %}
{% load i18n %}

{% block main %}
{% if mode == "photo" %}
{% include "_photo.html" %}
{% else %}
<h1 id="title">{{ meta.title_gallery }}</h1>
{% if meta.description %}<div id="description">{{ meta.description|safe }}</div>{% endif %}

{% include "_pages.html" %}

<div class="thumbnails{% if meta.geo %} has-geomap{% endif %}">
  {% for group in groups %}
  <div class="row">
    {% for entry in group %}
    <div class="cell">
      <div class="item">
        {% if entry.title %}<h2>{{ entry.title }}</h2>{% endif %}
        <a href="{{ entry.link }}" data-index="{{ entry.index }}">
          <img src="{{ entry.url }}" alt="{{ entry.alt }}" {% if entry.size %}width="{{ entry.size.0 }}" height="{{ entry.size.1 }}"{% endif %} />
        </a>
        {% if entry.comment %}<div class="comment">{{ entry.comment }}</div>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<div class="clear"></div>
{% endif %}

{% if mode == "geomap" %}
<div id="geomap"></div>
<script type="text/javascript">
var wxpb_settings = {{ wxpb_settings|safe }};
</script>
{% endif %}
{% endblock main %}
