{% extends "base.html" %}
{% load i18n embed %}

{% block main %}
{% if mode == "photo" %}
{% include "_photo.html" with show_comment=True %}
{% else %}
<h1 id="title">{{ meta.title_gallery }}</h1>
{% if meta.description %}<div id="description">{{ meta.description|safe }}</div>{% endif %}

{% include "_pages.html" %}

<div class="thumbnails float{% if meta.geo %} has-geomap{% endif %}">
  {% for entry in entries.object_list %}
  <div class="item{% if entry.video %} type-video{% endif %}">
    {% if entry.title %}<h2>{{ entry.title }}</h2>{% endif %}
    {% if entry.video %}
      {{ entry|embed }}
    {% elif entry.html %}
      {{ entry.html|safe }}
    {% else %}
    <a href="{{ entry.link }}" data-index="{{ entry.index }}">
      <img src="{{ entry.url }}" alt="{{ entry.alt }}" {% if entry.size %}width="{{ entry.size.0 }}" height="{{ entry.size.1 }}"{% endif %} />
    </a>
    {% endif %}
    {% if entry.comment %}<div class="comment">{{ entry.comment }}</div>{% endif %}
  </div>
  {% endfor %}
</div>
<div class="clear"></div>
{% endif %}

{% if mode == "geomap" %}
<div id="geomap"></div>
<script type="text/javascript">
var wxpb_settings = {{ wxpb_settings|safe }};
</script>
{% endif %}
{% endblock main %}
