{% extends "base.html" %}
{% load i18n embed %}

{% block main %}
{% if mode == "photo" %}
{% include "_photo.html" with show_comment=True %}
{% else %}

{% if prev_story or next_story %}
<nav id="navigation" aria-label="{% trans 'Stories' %}">
  {% if prev_story %}<a id="prevStory" href="{{ prev_story }}" rel="prev">&laquo; {% trans "previous" %}</a>{% else %}<span aria-disabled="true">&laquo; {% trans "previous" %}</span>{% endif %} |
  {% if next_story %}<a id="nextStory" href="{{ next_story }}" rel="next">{% trans "next" %} &raquo;</a>{% else %}<span aria-disabled="true">{% trans "next" %} &raquo;</span>{% endif %}
</nav>
{% endif %}

<h1 id="title">{{ meta.title_gallery }}</h1>
{% if meta.description %}<div id="description">{{ meta.description|safe }}</div>{% endif %}

{% include "_pages.html" %}

<div id="story" class="story{% if meta.geo %} has-geomap{% endif %}">
  {% for entry in entries.object_list %}
  <article class="item">
    {% if entry.title %}<h2>{{ entry.title }}</h2>{% endif %}
    {% if entry.video %}
      {{ entry|embed }}
    {% elif entry.html %}
      {{ entry.html|safe }}
    {% else %}
    <a href="{{ entry.link }}" data-index="{{ entry.index }}">
      <img src="{{ entry.url }}" alt="{{ entry.alt }}" loading="lazy" {% if entry.size %}width="{{ entry.size.0 }}" height="{{ entry.size.1 }}"{% endif %} />
    </a>
    {% endif %}
    {% if entry.comment %}<div class="comment">{{ entry.comment }}</div>{% endif %}
    {% if entry.date %}<div class="date">{{ entry.date }}</div>{% endif %}
    {% if entry.description %}<p class="description">{{ entry.description|safe }}</p>{% endif %}
  </article>
  {% endfor %}
</div>
<div class="clear"></div>
{% endif %}

{% include "_pages.html" with pages_bottom=True %}

{% if mode == "geomap" %}
<div id="geomap"></div>
{% endif %}

{% if mode == "geomap" or mode == "photo" %}
<script type="text/javascript">
var wxpb_settings = {{ wxpb_settings|safe }};
</script>
{% endif %}
{% endblock main %}
