*~
*.pyc
*.pyo
*.mo
*.iml
.env*
!.env.example
.DS_Store
.idea/
.pytest_cache/
test-results/
pip-selfcheck.json
pyvenv.cfg
venv*/
settings.py
!webxiang/settings.py
webxiang/settings_local.py
run/
static/
output-*
htmlcov/
.coverage
.coverage.*
coverage.lcov
