body {
  font-family: arial, serif;
  font-size: 100%;
  background-color: white;
  text-align: center;
}

.photo {
  text-align: center;
  margin: 20px 0 16px 0;
}
.photo img {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  font-size: smaller;
  text-align: center;
}
